.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.forom-control {
  margin-bottom: 1rem;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
  font-size: 1.5rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input {
  margin-bottom: 1rem;
  border: 1px solid #5d818b;
  outline: 0;
  border-radius: 3px;
  padding: 5px 3px;
}

.form-actions button {
  background: #0127d1;
  font: inherit;
  color: #ffffff;
  border: 1px solid #0127d1;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  outline: 0;
  margin: 0 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.form-actions button:hover,
.form-actions button:active {
  background: #011c96;
}
